# gitignore for Starland

# Mac Nature
.DS_Store

# Unity Nature
_BuildAndRun/
Temp/
Library/
TestBuild.app
Logs/
UserSettings/

# unity assets :: Store assets added one at a time, ensure they are necessary AND free to use.
Assets/Store/*
!Assets/Store/README.md*
!Assets/Store/FreeFlyCamera*

# Visual Studio Nature
bin/
obj/
.vs/
Assets/_DLLs/*.dll
Assets/_DLLs/*.dll.*

# MonoDevelop Nature
**.sln
**.userprefs
**.csproj
Starland.app/


# Intellij nature
**/.idea
**.iml